/* Main basic styling */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.h2 {
  font-size: 2.5vh;
}

.h3 {
  font-size: 1.5vh;
}

.h4 {
  font-size: 1.25vh;
  font-weight: 700;
}

.p {
  color: #434244;
  font-size: 20px;
  line-height: 1.75;
  letter-spacing: .015em;
  margin: 0;
  padding: 0 0 18px;
}


/* section seperator */
.separator{
  display: flex;
  align-items: center;
  color: #182636;
  padding: 20px 0;
}

.separator h2{
  padding: 0 2rem; /* creates the space */
}

.separator .line{
  flex: 1;
  height: 1px;
  background-color: #bbb;
}


/* Styling HTML componerts */

/* header */
.header-main {
  width: 100%;
  background-color: #9FCCC6;
  top: 0;
  position: fixed;
  z-index: 900;
}

/* this div is to set header to align items and is responsive */
.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 20px;

}

/*480 pixels // phones
768 pixels // tablets
960 pixels // small screens
1200 pixels // big screens
*/


.nav {
  display: flex;
  align-items: center;  
  text-decoration: none;
}
  
.nav-menu-item {
  padding-left: 10px;
  text-decoration: none;
  font-weight: 600;
}

.nav-menu-item a {
  text-decoration: none;
  color: black;
}

.nav-menu-item a:link {color:white;}
.nav-menu-item a:visited {color:black;}
.nav-menu-item a:hover {color:white;}
.nav-menu-item a:active {color:white;}


.nav-outer {
  position: relative;
}

.nav-outer img {
  display: none;
  padding: 15px;
}

/* For tablet size and below show hamburger with black nav */
@media (max-width: 760px){

  /* show hamburger menu */
  .nav-outer img {
    display: block;
    cursor: pointer;
  }

  /* to keep hamburger highlighted when nav is hovered  use .nav-outer img:hover to remove highlight*/
  .nav-outer:hover {
    background-color: #E41951;
  }

  /* remove nav otherwise displayed on resize */
  .nav {
    display: none;
  }

  /* the plus is so that the styles can be applied to nav */
  .nav-outer img:hover + .nav {
    border: 1px solid #E41951;
    display: inline-block;
    position: absolute;
    right: 0px;
    width: 200px;
    background-color: white;
    padding: 20px;
  }

  /* this is for after the nav is visible only styles applied on hover */
  .nav:hover {
    border: 1px solid #E41951;
    display: inline-block;
    position: absolute;
    right: 0px;
    width: 200px;
    background-color: white;
    padding: 20px;
  }

  .nav-menu-item {
    padding: 5px 0px;
  }
  .nav-menu-item:hover {
    background-color: #E41951;
  }

  /* so that the whole div is clickable */
  .nav-menu-item a {
    display: block;
  }
  .nav-menu-item:hover a {
    color: white;
  }
}

/* centering main section of page in the middle */
.main-container {
  margin: 0 auto;
  width: 100vw;
  max-width: 1200px;
  padding: 0px 30px 20px 20px;
}


/* slide/carousel */
#carouselExampleControls {
  margin-top: 80px;
}

/*************************/
/* shop by category grid */
/*************************/

.category-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

/* indiv grid container to position lable and sale */
.category-grid-indiv {
  position: relative;
}

.category-grid-indiv:hover {
  cursor:pointer;
  opacity: 0.6;
}

/* auto size image to grid container */
.category-grid-indiv img {
  max-width: 100%; 
  display: block; 
  height: auto;
}

/* need this div because images are different sizes so images can be auto sized and label can be consistently placed on top */
.category-grid-indiv-label {
  text-align: center;
  position: absolute;
  background-color: #9FCCC6; 
  bottom: 0px;
  width: 100%;
  z-index: 100;
}

.category-grid-indiv-label h3 {
  padding: 5px 0 5px 0; 
  margin: 0px;
}

.sale {
  background-color: #E41951;
  position: absolute;
  top: 20px;
  left: 0px;
  padding: 10px; 
  color: white;
  
}

.sale h4 {
  margin: 0px;
  padding: 0px;
}

.sale_expand {
  width: 200px;
  background-color: #E41951;
  transition: width 2s ease-in;
}

.category-grid-indiv:hover .category-grid-indiv-label {
  color: white;
}

@media (min-width: 768px) {

  .sale {
    width: 20%;
    transition: width 0.5s ease-in-out;
  }

  .category-grid-indiv:hover .sale {
    
    width: 100%;
    
  }
  .category-grid-indiv:hover {
    box-shadow: 0 0 10px black;
   
    }

}


@media (max-width: 768px) {
  .category-grid-indiv-label .h3 {
    text-align: end;
    padding-right: 10px;
  }
  .category-grid {
    margin-right: 20px;
  }

  /* using a different method since want label h3 text displayed on top of colour */
  .saleplace {
    background: linear-gradient(to left,#9FCCC6 50%, #E41951 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
  }
  .category-grid-indiv:hover .saleplace {
    background-position: left;
  }
  
}


/* between tablet and up to big screen */ 
@media (min-width: 768px) and (max-width: 1200px) {
  .category-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* between tablet and anything smaller such as mobile */
@media (max-width: 768px) {
  .category-grid {
    grid-template-columns: 1fr;
  }
  .category-grid-indiv {
    padding: 10px;
  }
  .category-grid-indiv img {
    display: none;
  }
  .category-grid-indiv-label {
    border: 1px solid black;
  }
  .sale {
    padding: 7px;
    top: -14px;
    left: 10px;
    z-index: 600;

  }
}

/*******************************/
/* Styling INspiration section */
/*******************************/


.lookbook-content {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.lookbook-image {
  grid-column-start: 2;
  grid-column-end: 4;
  position: relative;
}

.lookbook-image img {
  max-width: 100%; 
  display: block; 
  height: auto;
}

.lookbook-button {
  color: black;
  padding: 15px;
  text-align: center;
  transition: all 1s ease-in-out;
  right: 0;
  width: fit-content;
  background-color: #9FCCC6;
}

.lookbook-button:hover {
  cursor: pointer;
}

.lookbook-h3 {
  padding-right: 20px;
  margin-bottom: 40px;
}

/*
.lookbook-image-cat {
  background-color: #E41951;
  border-radius: 50%;
  top: 20px;
  left: 0px;
  position: absolute;
  width: 220px;
  height: 80px;
}
*/
.circle {
  background-color: #E41951;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 120px;
  height: 120px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.content {
  transform: rotate(30deg);
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.content span {
  display: block;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 5px;
}




/* About */
.about_section-button {
  color: black;
  padding: 15px;
  text-align: center;
  transition: all 1s ease-in-out;
  right: 0;
  width: fit-content;
}

.about_section-button:hover {
  background-color: #9FCCC6;
  color: white;
  cursor: pointer;
}

.moreabout {
  display: none;
}

.moreabout-toggle {
  display: block;
}



/**********/
/* footer */
/**********/

.footer-main {
  width: 100%;
  background-color: #9FCCC6;
}

.footer-content {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.footer-another {
  border-top: 1px solid #d3d3d3;
  width: 100%;
  background: #fff 0 0 no-repeat padding-box;
}

.footer-top {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.footer-top-indiv {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-top: 20px;
}

.footer-top-indiv img {
  width: 60px;
  margin-right: 18px;
}

@media (max-width:760px) and (min-width:580px) {
  .footer-top-indiv {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width:580px) {
  .footer-top {
    grid-template-columns: 1fr;
  }
}



.footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;

}

.footer-bottom-column{
  display: flex;
  justify-content: center;
}

.footer-bottom-copy {
  text-align: center;
 

}

/**********************/
/* feedback container */
/**********************/

.feedback-container {
  position: fixed;
  right: 0;
  top: 25%;
  border-radius: 20px 0 0 20px;
  width: 600px;
  background-color: #9FCCC6;
  z-index: 100;
  border: 1px solid black;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

.feedback-button {
  border-radius: 20px 20px 0 0; 
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  left: -82px;
  bottom: 100px;
  padding: 10px 20px;
  position: absolute;
  text-transform: uppercase;
  transform: rotate(-90deg);
  /*transform-origin: 113px 5px 0; */
  background: black;
}

.feedback-button:hover{
  cursor: pointer;
}

.feedback-form {
  padding: 30px;
  width: 600px;
}

.feedback-open {
  transform: translateX(40%);
  opacity: 1;
  z-index: 900;
}


.feedback-row {
  padding-bottom: 10px;
}

.feedback-name {
  display:flex;
  width: 150px;
}

input[type=submit] {
  margin-top: 30px;
  padding: 5px 30px;
  width: fit-content;
}

label,input{
  display:flex;
  flex-direction:column;
  width: 300px;
}

#comments {
  height: 300px;
  width: 300px;
}

.red {
  color: red;
  font-weight: 500;
}

.red-border{
  border: 2px solid red;
}

textarea:focus,
input[type="text"]:focus,
select:focus {
  background: white;
  border: 2px solid black;
  outline: none;
  box-shadow: 0 0 6px grey;
}

/******************/
/* Second page    */
/* Stores Styling */
/******************/

.store-container {
  margin-top: 80px;
  display:grid;
}


@media (min-width: 1200px) {
  .store-container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
  }
}

@media (max-width: 1200px){
  .store-container {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
  }


}





.store-container-indiv {

  border: 1px solid black;
  border-radius: 20px;
  background: #fff 0 0 no-repeat padding-box;
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "details store-buttons";
}

@media (max-width: 680px) {
  .store-container-indiv {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "details"
      "store-buttons";
  }
}

.store-title {
  grid-area: title;
  padding: 20px 20px 0px 20px;
}

.store-details {
  grid-area: details;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;

  flex-direction: column;
  justify-content: flex-end;

}

.store-details li { 
  list-style: none
}

.store-details li span {
  display: inline-block;
  width: 170px;
}

.address {
  font-weight: 600;
  font-style: italic;
}

.tlf {
  font-weight: 600;
}

.store-buttons {
  grid-area: store-buttons;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.store-info, .directions {
  background-color:  #9FCCC6;
  text-align: center;
  width: 200px;
  margin: 5px auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
  transition: all 1s ease-out;

}

.store-info:hover {
  background-color: white;
  box-shadow: 0 0 10px grey;
}

          /* for modal */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 910;
}

.hidden {
  display: none;
}


.modal-bg {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 998;
  content: "";
}


.modal-div {

  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  border: 10px solid #9FCCC6;

}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;


}